@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .section-title {
        @apply text-5xl leading-[1.2] md:text-6xl font-medium text-center tracking-tighter
    }

    .section-desc {
        @apply text-white/70 text-lg md:text-xl max-w-2xl mx-auto tracking-tight text-center mt-5
    }
}

@layer {
    .image-white {
        filter: brightness(0) invert(1);
    }

    .mask-gradient-b {
        mask-image: linear-gradient(to bottom, black, transparent);
    }

    .mask-gradient-b {
        mask-image: linear-gradient(to bottom, black, transparent);
    }

    .mask-gradient-t {
        mask-image: linear-gradient(to top, black, transparent);
    }

    .mask-gradient-b2 {
        mask-image: linear-gradient(to bottom, transparent, #000 10%, #000 90%, transparent);
    }

    .mask-gradient-hori-black {
        mask-image: linear-gradient(to right, transparent, #000 20%, #000 80%, transparent);
    }

    .bg-custom-radial {
        background: radial-gradient(100% 100% at top left, white, white, rgba(74, 32, 138, 0.5));
    }

    .bg-custom-circle {
        background: radial-gradient(50% 50% at 16.8% 18.3%, white, rgb(184, 148, 255) 37.7%, rgb(24, 0, 66));
    }

    .bg-custom-circle-big {
        background: radial-gradient(75% 75% at center center, rgba(140, 69, 255, 50%) 15%, rgba(14, 0, 36, 50%) 78%, transparent);
    }

    .shadow-circle {
        box-shadow: -20px -20px 50px rgba(255, 255, 255, 0.5), -20px -20px 80px rgba(255, 255, 255, 0.1), 0 0 50px rgb(140, 69, 255);
    }

    .bg-linear-card {
        background: linear-gradient(to bottom left, rgb(140, 69, 255, .3), black);
    }

    .mask-gradient-calltoaction {
        mask-image: radial-gradient(50% 50% at 50% 35%, #000, transparent);
    }

    .mask-gradient-calltoaction2 {
        mask-image: radial-gradient(50% 50% at 0px 0px, #000, transparent);
    }
}